/* Mobile Styles */
@media (max-width: 600px) {

    .navbar {
        position: fixed;
        justify-content: top;
        background: none;
        padding: 10px 20px;
    }

    /* .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background: none;
    } */

    /* 
    .link-group {
        list-style: none;
        display: flex;
    } */

    .link-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .link a {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 30px;
        margin: 0 20px;
        line-height: 80px;
        transition: .5s;
        font-size: 20px;
    }

    .home-section {
        padding: 60px 20px;
    }

    .hero-heading {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .home-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    /* about-section */
    .about-section {
        width: 100%;
        min-height: 100vh;
        /* Fill the entire viewport height */
        padding: 60px 0;
        text-align: center;
        background-color: #333;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about-img-container {
        position: relative;
    }

    .about-info {
        font-size: 18px;
        line-height: 25px;
        opacity: 0.6;
        margin-top: 20px;
    }

    .about-img {
        width: 100%;
        max-width: 400px;
        /* Adjust the image width */
        border-radius: 20px;
    }

    .cv-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }

    .download-cv-btn {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
        text-transform: capitalize;
    }

    .download-cv-btn:hover {
        background-color: #898181;
    }

    /* skills */
    .skill-section {
        position: relative;
        min-height: 100vh;
        margin: 100px 0;
    }

    .skills-container {
        width: 100%;
        /* Adjust as needed */
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Adjust columns as needed */
        grid-gap: 20px;
        color: #fff;
    }

    /* timeline */
    .timeline {
        display: block;
        width: 100%;
        margin: 35px auto;
        /* Adjust as needed */
    }

    /* Adjust other sections similarly */

    /* Rest of your CSS styles */

    .project-section,
    .contact-section {
        padding: 20px 20px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about,
    .project-container {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .cv-buttons {
        bottom: 20px;
    }

    .download-cv-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .map {
        padding: 5px;
    }
}